@model WebApplication.Models.Resume.Shelf

<div class="shelf">
    <h1 class="shelf-name">@Model.Name</h1>

    @foreach (var book in Model.Books)
    {
        @Html.Partial("Resume/Book", book)
    }

</div>