.timer-settings form,
.timer-settings label,
.timer-settings select,
.timer-settings option,
.timer-settings input {
    display: block;
    font-size: 20px;
}

.timer-settings form .timer-block {
    margin-top: 30px;
}

.timer-settings label {
    text-align: center;
}

.timer-settings label,
.timer-settings select,
.timer-settings input {
    margin-left: auto;
    margin-right: auto;
}

.timer-settings .select-sound-block label {
    padding-right: 140px;
}

.timer-settings .select-sound-block select {
    width: 250px;
}

.timer-settings .button-achor-wrapper {
    display: block;
}


.timer-settings .edit-activities-button {
    border-color: black;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}