/*
    Not content order related styles
*/

.button-achor-wrapper {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

    .button-achor-wrapper:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

/*
    End of Not content order related styles
*/

.timer-container {
    max-width: 80%;
    margin: 60px auto;
}

.timer-block {
    margin-top: 30px;
}

    .timer-block:first-child {
        margin-top: 0;
    }

.timer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timer-caption h1 {
    text-align: center;
    font-size: 60px;
}

.timer-caption h2 {
    text-align: center;
    font-size: 40px;
}