@model WebApplication.Models.ViewModels.Header.HeaderViewModel
<header>
    <h3>Disco</h3>
    <ul>
        @foreach (var link in Model.Links)
        {
            <li>
                <a href="@link.Url">@link.Text</a>
            </li>
        }
    </ul>
</header>