<header>
    <h3>
        <a asp-controller="Resume" asp-action="Index">
            Disco
        </a>
    </h3>

    <ul>
        <li>
            <a asp-controller="Achievement" asp-action="Index">
                Achievements
            </a>
        </li>
        <li>
            <a asp-controller="Calendar" asp-action="Index">
                Calendar
            </a>
        </li>
        <li>
            <a asp-controller="Finance" asp-action="Index">
                Finances
            </a>
        </li>
        <li>
            <a asp-controller="KnowledgeBase" asp-action="Index">
                Knowledge Base
            </a>
        </li>
        <li>
            <a asp-controller="Reform" asp-action="Index">
                Reforms
            </a>
        </li>
        <li>
            <a asp-controller="TaskManagement" asp-action="Index">
                Task Management
            </a>
        </li>
        <li>
            <a asp-controller="Timer" asp-action="Index">
                Timer
            </a>
        </li>
    </ul>
</header>