@model WebApplication.Models.ViewModels.Header.HeaderViewModel

<header>
    <h3 class="@(Model.CurrentControllerName == "Resume" ? "active" : string.Empty)">
        <a asp-controller="Resume" asp-action="Index">
            My books
        </a>
    </h3>
</header>

<div>
    @ViewBag.SelectedController
</div>