@model IQueryable<WebApplication.Models.Timer.TimerSound>

<div class="timer-edit-sounds timer-container">
    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Edit Sounds
        </h2>
    </div>

    <table class="timer-block">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Sound Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    A
                </td>
                <td>
                    A
                </td>
                <td>
                    <sound-edit-delete sound-id="0">

                    </sound-edit-delete>
                </td>
            </tr>
            <tr>
                <td>
                    A
                </td>
                <td>
                    A
                </td>
                <td>
                    <sound-edit-delete sound-id="0">

                    </sound-edit-delete>
                </td>
            </tr>
            <tr>
                <td>
                    A
                </td>
                <td>
                    A
                </td>
                <td>
                    <sound-edit-delete sound-id="0">

                    </sound-edit-delete>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="anchor-no-visually-effects">
        <button class="add-sound-button">
            Create
        </button>
    </a>

</div>