@model WebApplication.Models.Timer.TimerActivity

<div class="timer-edit-activity timer-container">

    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Edit Activity
        </h2>
    </div>

    <form asp-action="EditActivity" method="post" class="timer-block">
        <input type="hidden" asp-for="ID" />

        <fieldset>
            <label asp-for="Name">
                Name
            </label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input type="text" asp-for="Name" class="name-input" />
        </fieldset>
        <fieldset class="buttons-row timer-block">
            <input type="submit" class="control-button save-button" value="Save"/>
            <input type="button" class="control-button cancel-button" value="Cancel" onclick="history.back()"/>
        </fieldset>
    </form>

</div>