<div class="timer-edit-activities timer-container">
    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Edit Activities
        </h2>
    </div>

    <table class="timer-block">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Work at Elo
                </td>
                <td>
                    <span class="edit-icon">!</span>
                    <span class="delete-icon">X</span>
                </td>
            </tr>
            <tr>
                <td>
                    Read CSS Book
                </td>
                <td>
                    <span class="edit-icon">!</span>
                    <span class="delete-icon">X</span>
                </td>
            </tr>
        </tbody>
    </table>

    <a asp-action="EditActivity">
        <button class="add-activity-button">
            Add
        </button>
    </a>


</div>