@model IQueryable<WebApplication.Models.Timer.TimerSound>

<div class="timer-edit-sounds timer-container">
    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Edit Sounds
        </h2>
    </div>

    <table class="timer-block">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Sound Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sound in Model)
            {
                <tr>
                    <td>
                        <play-sound></play-sound>
                    </td>
                    <td>
                        @sound.Name
                    </td>
                    <td>
                        <sound-edit-delete sound-id="@sound.ID">

                        </sound-edit-delete>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="CreateSound" class="anchor-no-visually-effects">
        <button class="add-sound-button">
            Upload New
        </button>
    </a>

</div>