@model WebApplication.Models.ViewModels.Timer.CaptionSound

<div class="timer-edit-sound timer-container">

    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            @Model.Caption
        </h2>
    </div>

    <form asp-action="EditSound" method="post" class="timer-block">
        <input type="hidden" asp-for="Sound.ID" />

        <fieldset class="name-fieldset">
            <label asp-for="Sound.Name">
                Name
            </label>
            <div><span asp-validation-for="Sound.Name" class="text-danger"></span></div>
            <input type="text" asp-for="Sound.Name" class="name-input" />
        </fieldset>
        <fieldset class="file-fieldset">
            <button>Upload File</button>
            <span>File Name</span>
        </fieldset>
        <fieldset class="buttons-row timer-block">
            <input type="submit" class="control-button save-button" value="Save" />
            <input type="button" class="control-button cancel-button" value="Cancel" onclick="history.back()" />
        </fieldset>
    </form>

</div>