@model IQueryable<WebApplication.Models.Timer.TimerActivity>

<div class="timer-edit-activities timer-container">
    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Edit Activities
        </h2>
    </div>

    <table class="timer-block">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>
                        @activity.Name
                    </td>
                    <td>
                        <span class="edit-icon">!</span>
                        <span class="delete-icon">X</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="EditActivity">
        <button class="add-activity-button">
            Add
        </button>
    </a>


</div>