@model IQueryable<WebApplication.Models.Timer.TimerLog>

<div class="timer-history timer-container">
    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            History
        </h2>
    </div>

    <table class="timer-block">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Activity
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var log in Model)
            {
                <tr>
                    <td>
                        @log.Date
                    </td>
                    <td>
                        @log.Activity.Name
                    </td>
                    <td>
                        <span class="delete-icon">X</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>