@model IQueryable<WebApplication.Models.Timer.TimerActivity>

<div class="timer-frontpage timer-container">

    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
    </div>

    <div class="timer-activity timer-block">
        <select>
            <option>
                No Activity Selected
            </option>
            @foreach (var activity in Model)
            {
                <option data-id="@activity.ID">
                    @activity.Name
                </option>
            }
        </select>
    </div>

    <div class="timer-time timer-block">
        <span class="time-minutes">25</span>:<span class="time-seconds">00</span>
    </div>

    <div class="timer-control-buttons timer-block">
        <button class="control-button start-button">
            start
        </button>
        <button class="control-button stop-button">
            stop
        </button>
        <button class="control-button reset-button">
            reset
        </button>
    </div>

    <div class="timer-options-buttons timer-block">
        <a asp-controller="Timer" asp-action="Settings" class="anchor-no-visually-effects">
            <button class="options-button">
                Settings
            </button>
        </a>
        <a asp-controller="Timer" asp-action="History" class="anchor-no-visually-effects">
            <button class="options-button">
                History
            </button>
        </a>
    </div>

</div>