<div id="timer">
    <h1 class="timer-caption">
        Tomato Timer
    </h1>

    <div class="timer-time">
        <span class="time-minutes">25</span>:<span class="time-seconds">00</span>
    </div>

    <div class="timer-control-buttons">
            <button class="control-button start-button">
                start
            </button>
            <button class="control-button stop-button">
                stop
            </button>
            <button class="control-button reset-button">
                reset
            </button>
    </div>

</div>