<div id="timer">

    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon"/>

    <h1 class="timer-caption timer-block">
        Tomato Timer
    </h1>

    <div class="timer-activity timer-block">
        <select>
            <option>
                No Activity Selected
            </option>
        </select>
    </div>

    <div class="timer-time timer-block">
        <span class="time-minutes">25</span>:<span class="time-seconds">00</span>
    </div>

    <div class="timer-control-buttons timer-block">
        <button class="control-button start-button">
            start
        </button>
        <button class="control-button stop-button">
            stop
        </button>
        <button class="control-button reset-button">
            reset
        </button>
    </div>

    <div class="timer-options-buttons timer-block">
        <button class="options-button">
            Settings
        </button>
        <button class="options-button">
            History
        </button>
    </div>

</div>