<div class="timer-settings timer-container">

    <img class="timer-logo" src="/images/timer/tomato-icon.png" alt="tomato icon" />

    <div class="timer-caption timer-block">
        <h1>
            Tomato Timer
        </h1>
        <h2>
            Settings
        </h2>
    </div>

    <form>

        <fieldset class="timer-block select-sound-block">
            <label>
                Select Sound
            </label>

            <select>
                <option>
                    80s Classic Alarm
                </option>
            </select>
        </fieldset>
    </form>
    
    <div class="timer-block edit-buttons">
        <a asp-controller="Timer" asp-action="EditSounds" class="anchor-no-visually-effects">
            <button class="edit-button">
                Edit Sounds
            </button>
        </a>
        <a asp-controller="Timer" asp-action="EditActivities" class="anchor-no-visually-effects">
            <button class="edit-button">
                Edit Activities
            </button>
        </a>
    </div>

</div>