<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disco IS</title>
</head>
<body>

<div id="header">
    <h1>I am future header</h1>
</div>

<div id="content">
    @RenderBody()
</div>

<div id="footer">
    <h1>I am future footer</h1>
</div>

</body>
</html>