<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disco Fever</title>
    <link rel="stylesheet" asp-href-include="/styles/dist/bundle.css" asp-append-version="true" />
    <link rel="icon" href="/images/disco ball.ico">
</head>
<body>

    @await Component.InvokeAsync("Header")

    <main>
        @RenderBody()
    </main>

    @await Component.InvokeAsync("Footer")

</body>
</html>