/* footer */

body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gainsboro;
    text-align: center;
    padding: 10px 0;
    font-size: 23px;
}

/* end of footer */