@model IEnumerable<WebApplication.Models.Resume.Shelf>

<article id="resume">
    @foreach (var shelf in Model)
    {
        @Html.Partial("Resume/Shelf", shelf)
    }
</article>

<!--TODO remove it-->
<div style="height: 30px;"> </div>