@model IEnumerable<WebApplication.Models.ViewModels.Shelves.ShelfViewModel>

<article id="resume">
    @foreach (var shelf in Model)
    {
        @Html.Partial("Shelves/Shelf", shelf)
    }
</article>

<!--TODO remove it-->
<div style="height: 30px;"> </div>