@model WebApplication.Models.ViewModels.Shelves.BookViewModel

<figure>
    <img src="@Model.CoverUrl" alt="Book Cover"/>
    <figcaption>
        <ul>
            <li class="book-name">
                @Model.Name
            </li>
            <li>
                @Model.Author
            </li>
            @if (Model.Year > 0)
            {
                <li>
                    @Model.Year
                </li>
            }
        </ul>
    </figcaption>
</figure>