@model WebApplication.Models.ViewModels.Shelves.ShelfViewModel

<div class="shelf">
    <h1 class="shelf-name">@Model.Name</h1>

    @foreach (var book in Model.Books)
    {
        @Html.Partial("Shelves/Book", book)
    }

</div>